<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cards</title>
	<link rel="stylesheet" type="text/css" href="static/ausstyles.css">

	<style>
		body{
			background-position: 50% 50%;
			/* width: 1366px; */
			/* height: 768px; */
		}
	</style>

</head>

<body>
	<div class="container">
		<div class="card">
			<div class="imagebox">
				<img src="static/images/aus/australia-opera-house.jpg" alt="">
			</div>
			<div class="content">
				<br>
				<h1>
					<bold> Opera House ,Newsouth Wales</bold>
				</h1>
				<br>
				<br> 
				<p>
					Mention "Sydney, Australia" and most people think of the Opera House. Shaped like huge shells or
					billowing sails, this famous building on Sydney's Bennelong Point graces the list of UNESCO World
					Heritage Sites and is one of the world's great architectural icons.
					The location is stunning. Water surrounds the structure on three sides, and the Royal Botanic
					Gardens border it to the south.
					Danish architect, Jørn Utzon won an international competition for its design but withdrew from the
					project after technical and financing problems. Construction was finally completed in 1973 at a cost
					10 times the original budget.

				</p>
				<br>
				<a href="\transaction">Only One Click away! Book Now</a>
			</div>
		</div>
		<div class="card">

			<div class="content">
				<br>
				<br>
				<br>
				<h1>Sydney Harbour Bridge, New South Wales</h1>
				<br>
				<br>
				<br>
				<p>
					Along with the Opera House, the Sydney Harbour Bridge is one of Australia's top architectural icons.
					Affectionately called "the Coathanger," this impressive feat of construction is the largest steel
					arch bridge in the world. It was completed in 1932, 40 years before the Sydney Opera House.

					One of the top things to do in Sydney is a guided ascent to the top of the bridge, where you can
					enjoy spectacular views over the harbor and city. Rising 134 meters above the harbor, the bridge
					spans 500 meters, connecting Sydney's North Shore to the central business district.
					In addition to the pedestrian path, two railway lines extend over the bridge, as well as eight lanes
					for road traffic, and the direction of each lane can be switched to accommodate traffic flow.

				</p>
				<br>
				<a href="\transaction">Only One Click away! Book Now</a>
			</div>
			<div class="imagebox">
				<img src="static/images/aus/australia-harbour-bridge.jpg" alt="">
			</div>
		</div>
		<div class="card">
			<div class="imagebox">
				<img src="static/images/aus/australia-melbourne.jpg" alt="">
			</div>
			<div class="content">
				<br>
				<br>
				<br>
				<h1>Melbourne culture , Victoria</h1>
				<br>
				<br>
				<br>
				<p>
					Melbourne, Australia's second largest city, is a popular stop on many Australian itineraries –
					especially for culture vultures. Galleries, theaters, restaurants, shops, and its distinctly
					European feel are the main draws of this sophisticated city on the Yarra River. It's also a green
					city, with parks, gardens, and open spaces occupying almost a third of its total area.
					The cultural highlights of Melbourne are many. Gape at the masterpieces at the National Gallery of
					Victoria, watch a performance at Arts Centre Melbourne, or head to Federation Square. Here, you can
					browse Australian artworks at the Ian Potter Gallery and learn about the nation's screen culture at
					the Australian Centre for the Moving Image (ACMI).
				</p>
				<br>
				<a href="\transaction">Only One Click away! Book Now</a>
			</div>
		</div>
	</div>
</body>

</html>