<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Input Form UI Design
</title>
<link rel="stylesheet" type="text/css" href="static/logstyles3.css">

<style>

	body{
		background-image: url("static/images/bkg.jpg");
	}
</style>
</head>
<body>
	<form method="post">
	<div class="box">
		<h2>Login</h2>
		
			<div class="inputbox">
				<input type="text" name="user" required="">
				<label>Username</label>
			</div>
			<div class="inputbox">
				<input type="password" name="psswd" required="">
				<label>Password</label>

			</div>
			<input type="submit" value="Login" onClick="window.location.href='/wel';" >

		

	</div>
	</form>

</body>
</html>