<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Landing page</title>
	<link rel="stylesheet" type="text/css" href="static/mainstyles.css">
	<style>

		body{
			background-image: url(static/images/avenue.jpg);
			background-repeat: no-repeat;
			background-position: fill;
			background-size: cover;
		}
	
		@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@1,300&family=Open+Sans:ital,wght@1,300&family=Poppins:ital,wght@1,100&display=swap');
    </style>
</head>
<body>

	<section>
		<header>
			<a href="\contact" class="logo">Travel Space</a>
			<ul class="navbar">

				<li><a href="signup">Signup</a></li>
				&emsp;
				<li><a href="login">Login</a></li>
			</ul>
		</header>


		<div class="content">
		<div class="contentbox">
			<h2 style="color: black;">There’s a sunrise and a sunset every single day, and they’re absolutely free. Don’t miss so many of them</h2>
			<p>“Travel isn’t always pretty. It isn’t always comfortable. Sometimes it hurts, it even breaks your heart. But that’s okay. The journey changes you; it should change you. It leaves marks on your memory, on your consciousness, on your heart, and on your body. You take something with you. Hopefully, you leave something good behind.” </p>
			<a href="signup">Get started</a>
		</div>
		</div>

		<ul></ul>

	</section>
</body>
</html>