<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Registration Form </title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<style type="text/css">
		body{
			background-image: url(static/images/photos.jpg);
		}
	</style>
</head>

<body>
			<div class="Registration-form">
				<h1>Registration Form</h1>
			    <form method="POST">
			    	<p>Full name</p>
			    	<input type="text" name="Fullname" placeholder="Full name">
			    	<p>User name</p>
			    	<input type="text" name="Username" placeholder="User name">
			    	<p>Email</p>
			    	<input type="email" name="Email" placeholder="Enter your Email">
			    	<p>Password</p>
			    	<input type="password" name="Password" placeholder="Password">
			    	<p>Confirm Password</p>
			    	<input type="password" name="Confirm Password" placeholder="Confirm password">
			    	<button onClick="window.location.href='/login';">Register</button>				
				</form>
				





			</div>

			


</body>
</html>